body, input, button, select, option {
	font-family: "Montserrat", "Roboto", cursive, sans-serif;
	font-size: 4vw;
	margin: 0 0 0 0; 
}

.header-data {
	background-color: #DDDDDD;
	display: inline-block;
	width: 100%;
	text-align: center;
	font-weight: bold;	
}

.header-valor {
	background-color: #EEEEEE;
	width: 50%;
	float: left;
	display: inline-block;
}

.header-valor label {
	text-align: left;
	width: 100%;
	display: inline-block;
}

.header-valor span {
	text-align: right;
	width: 100%;
	display: inline-block;
}

.header-valor-positivo {
	color: #0000FF;
}

.header-valor-negativo {
	color: #FF0000;
}

.frame-debito {
	border-left: 0.2em solid #ff4b4b; 
	color: #ff4b4b;
	padding: 3px;
	width: 100% - 0.2em;
}

.frame-debito span {
	width: 100%;
	display: inline-block;	 	
}
	
.frame-credito {
	border-right: 0.2em solid #0064ff; 
	color: #0064ff;
	padding: 3px;
	width: 100% - 0.2em;
}

.frame-credito span {
	width: 100%;
	display: inline-block;	 	
}

.item-valor {
	text-align: right;
}

.tt-content-body {
	height: 90%;
	overflow-y: auto;
	position: relative;
	top: 0;
	width: 100%;	
}

.tt-bottom-bar {
	bottom: 0;
	height: 10%;	 	
	position: fixed;
	width: 100%;
}

.tt-button {
	height: auto;
	margin: 0.2em;	 	
}

.tt-button-delete {
	position: absolute;
	display: block;
	right: 0;
}

.tt-form {
	position: relative;	
}

.tt-top-bar {
	height: 2em;
	position: relative;
	top: 0;
	width: 100%;
}

#btnNovoDebito {
	height: 100%;
	left: 0;
	position: absolute;
	width: 10%;
}

#btnNovoCredito {
	height: 100%;
	position: absolute;
	right: 0;
	width: 10%;
}

#imgPago {
	right: 0;
	height: 1em;
	position: relative;
	float: right;
	top: 0;
}
